<template>
  <div class="col-md-4 col-sm-6">
    <figure>
      <img :src="'/uploads/img/portfolio/'+name.picture">
      <figcaption>
        <h3>{{name.name}}</h3>
        <span v-if=" name.tags.length >0" v-for="tag in name.tags"> {{tag.name}} </span>
        <span v-else>Pas de tag</span>
        <a :href="name.slug">Aller voir</a>
      </figcaption>
    </figure>
  </div>
</template>

<style>
.fade-enter-active, .fade-leave-active {
transition: opacity 2s
}
.fade-enter, .fade-leave-active {
opacity: 0
}

</style>

<script>
export default {
    props:['name'],

}
</script>
