<template>
  <div class="col-sm-6">
      <div class="blog-post blog-single-post">
          <div class="single-post-title">
              <h2>{{ element.title }}</h2>
          </div>
          <div class="single-post-image">
            <img :src="'/uploads/img/blog/'+element.picture"/>
          </div>
          <div class="single-post-content">
            <div class="single-post-info">
                <i class="glyphicon glyphicon-time"></i>Publié le {{element.created_at}}
            </div>
              <p v-html= element.text}}></p>
              <a :href="'blog/'+element.slug" class='btn'>lire plus...</a>
          </div>

      </div>
  </div>
</template>
<style>
.fade-enter-active, .fade-leave-active {
transition: opacity 2s
}
.fade-enter, .fade-leave-active {
opacity: 0
}
</style>
<script>
export default {
  props:['element'],

}
</script>
